<style>
    .navbar {
        margin-bottom: 5%;
    }
</style>



<nav class="navbar navbar-expand-lg fixed-top bg-info" style=" color: white;">
    <a class="navbar-brand" href="/" style=" color: white;">Lets_share</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/" style=" color: white;">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item ">
                <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style=" color: white;">
                    Neighborhood
                </a>

            </li>

            <li class="nav-item ">
                <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style=" color: white;">
                    Dashbord
                </a>

            </li>


        </ul>
        {% if user.is_authenticated %}

        <li class="dropdown btn btn-default">
            <a href="#" class="dropdown-toggle btn btn-info" data-toggle="dropdown"><i
                    class="far fa-user text-white"></i>

            </a>
            <ul class="dropdown-menu" role="menu" style=" text-decoration: none;">

                <li class="nav-item">
                    <a class="nav-link" href="/admin" class="btn-info">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile" class='btn btn-info btn-info'>Profile</a>
                </li>
                <br>
                <li>
                    <a class='btn btn-default btn-info' href="/accounts/register">Register</a>
                </li>
                <br>
                <li>

                    <a class='btn btn-default btn-info' href="/admin/password_change">Change
                        Password</a>
                </li>
                <br>
                <li>
                    <a class='btn btn-default btn-info' href="/logout">Log Out</a>
                </li>
            </ul>
        </li>

        {% else %}
        <li>
            <a class='btn btn-default' href="accounts/login" style="font-weight: 700;">Login</a>
        </li>
        {% endif %}
       
    </div>
</nav>